
#right-bar {
  top: 6rem;
  position: absolute;
  /*height: 80%;*/
  width: 400px;
  right: -400px;
  padding: 1rem 1rem 0.5rem;
  background-color: white;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  border-radius: .2rem;
}

#right-bar-close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

#right-bar-header {
  position: relative;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1rem;
}

#right-bar-heading {
  margin: 0;
  font-size: 1.2rem;
  padding-right: 2rem;
  line-height: 1.5;
}

#right-bar-access {
  display: none;
  border-top: 1px solid lightgrey;
}

#right-bar-access ul {
  padding-left: 1.5rem;
}

#right-bar-access li {
  list-style-type: circle;
}
.right-bar-comments__form {
  //display: none;
}