html, body {
  height: 100%;
  margin: 0;
}

main {
  height: 100%;
}

address {
  display: inline-block;
}

.content {
  height: 100%;
  width: calc(100% - 300px);
  float: right;
}

.modal.modal-small {
  width: 35%;
}

.btn.btn-full, .btn-large.btn-full {
  width: 100%;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
}

/* disable zoom on scrolling */
.content iframe {
  pointer-events: none;
}

aside .side-nav.fixed {
  position: absolute;
}

aside #nav-mobile li.logo {
  text-align: center;
  height: 55px;
  margin-bottom: 0;
  font-family: 'Ukrainian Play', Helvetica, arial, sans-serif;
}

aside #nav-mobile li.logo a {
  font-size: 2rem;
  line-height: 65px;
  height: 55px;
}

.side-nav .logo a:hover {
  background-color: rgb(235, 255, 236);
}

aside ul.side-nav.fixed li {
  line-height: 44px;
}

main {
  position: relative;
  overflow: hidden;
}

.search-wrapper {
  margin: 0 auto;
  transition: margin .25s ease;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  position: absolute;
  right: 14rem;
  top: 1rem;
  left: 31rem;
}

.search-wrapper .twitter-typeahead {
  width: 100%;
}

.search-wrapper input#search-input {
  display: block;
  font-size: 16px;
  font-weight: 300;
  width: calc(100% - 60px);
  height: 45px;
  margin: 0;
  padding: 0 45px 0 15px;
  border: 0;
}

.search-wrapper i.material-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.search-wrapper .twitter-typeahead .tt-suggestion {
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  cursor: pointer;
}

/*.search-results {
    margin: 0;
    border-top: 1px solid #e9e9e9;
    background-color: #fff;
}*/
/*
aside li.search {
  margin-bottom: 20px;
}

aside li.search .search-wrapper.card {
  width: 90%;
  margin: 0 auto;
  border: 0;
  outline: none;
}

aside li.search .search-wrapper.card input#search:focus {
  box-shadow: none;
}*/

.marker-popup {
  font-size: 1.1rem;
}

footer {
  z-index: 1000;
  position: relative;
}

.custom-footer-container {
  margin: 2rem auto 2rem 300px;
}

.footer-description {
  display: inline-block;
  width: 45%;
  margin-right: 10%;
  vertical-align: top;
}

.footer-description p {
  font-size: 1.1rem;
}

.footer-form {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.footer-form form {
  margin-top: 1rem;
}

.footer-form-heading {
  padding-left: .75rem;

}

.footer-form .input-field label {
  color: white;
}

.footer-form .input-field input {
  border-bottom: 1px solid white;
  color: white;
}

.footer-form .input-field textarea {
  border-bottom: 1px solid white;
  color: white;
}

.footer-form .input-field input:focus + label {
  color: white;
}

.footer-form .input-field input:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

.footer-form .input-field textarea:focus + label {
  color: white;
}

.footer-form .input-field textarea:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

/* valid color */
/*.footer-form .input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}*/
/* invalid color */
/*.footer-form .input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}*/
/* icon prefix focus color */
/*.footer-form .input-field .prefix.active {
  color: #000;
}*/

.footer-copyright .container {
  margin-left: 300px;
}

.footer-contacts li a {
  color: inherit;
  line-height: 1;
  font-size: 1.3rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: .5rem;
}

.footer-contacts li i {
  display: inline-block;
  vertical-align: middle;
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #4aa54e;
  background-color: #4aa54e;
}

.main-trolley__button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.main-social-taxi__button {
  position: absolute;
  bottom: 65px;
  right: 20px;
}

.main-button__icon {
  font-size: 16px !important;
  margin-right: 6px;
}

/* vv weird typeahead bug workaround*/
.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
  padding: 0 45px 0 15px;
  font-size: 16px;
  font-weight: 300;
  width: calc(100% - 60px);
  height: 45px;
}
/* ^^ end weird typeahead workaround*/

/* label focus color */
.shpp-theme .input-field input:focus + label {
  color: #4CAF50 !important;
}
/* label underline focus color */
.shpp-theme .row .input-field input:focus {
  border-bottom: 1px solid #4CAF50 !important;
  box-shadow: 0 1px 0 0 #4CAF50 !important
}

.shpp-theme .btn:not(.social), .shpp-theme .btn-large:not(.social) {
  background-color: #4CAF50;
}